{% extends 'base.html.twig' %}

{% block title %}Modifier le contact{% endblock %}

{% block body %}
<h1 class="my-4">Modifier le contact</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-success mt-3">Mettre à jour</button>
{{ form_end(form) }}

<a href="{{ path('contact_index') }}" class="btn btn-secondary mt-3">Retour à la liste des contacts</a>
{% endblock %}
